@import '../../scss/variables';

.root {
    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        text-align: center;
        padding: 10px;
        border: 1px solid $orange;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        line-height: 25px;
        margin-right: 20px;
        cursor: pointer;
        transition: backgroung-color 0.1s ease-in-out,  color 0.1s ease-in-out;
        color: $orange;

        &:hover {
            background-color: #ff8352;
            color: #fff;
        }
    }
    :global {
        .selected{
            a {
                background-color: $orange;
                color: #fff
            }
        }
    }
}